@import 'src/scss/common';
@import 'src/scss/nba-theme';

.dialog-title {
  margin-bottom: 12px;

  .dialog-title-text {
    @include boldText($lgFontSize);
  }
  button {
    color: $NearWhite;
    background-color: $NBAColor !important;
  }
}

mat-dialog-content {
  mat-card {
    background-color: $NearWhite;
  }
}

mat-dialog-actions {
  padding: 24px 0px;
  .submit {
    @include matPrimaryButton($nba-theme);
  }
  .cancel {
    @include matSecondaryButton($nba-theme);
  }
}
